In [1]:
print("Hello, World!")

Hello, World!

In [2]:
# Addition
result_add = 10 + 5
print("Addition Result:", result_add)

# Subtraction
result_sub = 15 - 7
print("Subtraction Result:", result_sub)

# Multiplication
result_mul = 6 * 4
print("Multiplication Result:", result_mul)

# Division
result_div = 20 / 4
print("Division Result:", result_div)

Addition Result: 15
Subtraction Result: 8
Multiplication Result: 24
Division Result: 5.0

In [3]:
# Variables
name = "Alice"
age = 30

# Print using variables
print("Name:", name)
print("Age:", age)

# Operations with variables
double_age = age * 2
print("Double Age:", double_age)

Name: Alice
Age: 30
Double Age: 60

In [4]:
# Conditional Statement
number = 15

if number % 2 == 0:
    print(number, "is even.")
else:
    print(number, "is odd.")

15 is odd.

In [5]:
# Looping with for loop
for i in range(5):
    print("Current number is:", i)

Current number is: 0
Current number is: 1
Current number is: 2
Current number is: 3
Current number is: 4

In [6]:
# Function definition
def greet(name):
    print("Hello,", name, "!")

# Function call
greet("Bob")

Hello, Bob !